<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body>
<table class="table table-striped">
<tr>
<th>ID</th>
<th>Timestamp</th>
<th>ParkrechnerID</th>
<th>Windspeed</th>
<th>temperature</th>
<th>Power</th>
<th>Blindpower</th>
<th>Rotationpower</th>
<th>Bladeposition</th>
</tr>
 <tr th:each="windengine: ${windengines}">
        <td th:text="${windengine.windengineID}">1</td>
        <td th:text="${windengine.timestamp}">dfgkdf</td>
        <td th:text="${windengine.parkrechnerID}">2</td>
        <td th:text="${windengine.windspeed}+' '+${windengine.unitWindspeed}">25</td>
        <td th:text="${windengine.temperature}+' '+${windengine.unitTemperature}">25</td>
        <td th:text="${windengine.power}+' '+${windengine.unitPower}">33</td>
        <td th:text="${windengine.blindpower}+' '+${windengine.unitBlindpower}">2342</td>
        <td th:text="${windengine.rotationspeed}+' '+${windengine.unitRotationspeed}">123</td>
        <td th:text="${windengine.bladeposition}+' '+${windengine.unitBladeposition}">34</td>
 </tr>
</table>
<div th:replace="footer :: copy"></div>
</body>
</html>